
html,
body{ 
  margin:0; 
  padding:0;
  height: 100%;
}

main{
  /* height: calc(100% - 85px); */
  height: 1500px;
  width: 100%;
}

.navbar{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
}

.container{
  padding-top: 12px;
}


.navbar-brand{
  background-color: transparent;
  overflow: hidden;
  font-size: 30px;
  color: white;
  font-family: Raleway;
  font-weight: 600;
  margin-left: 35px;
}

.navbar-nav{
  font-size: 20px;
  letter-spacing: 3px;
  margin-right: 40px;
  letter-spacing: 0px;
  color: white;
} 

.nav-item{
  margin: 5px;
}

.nav-link{
  width: fit-content;
  font-weight: 700;
  font-family: Raleway;
  font-size: 25px;

} 

#intro{
  height: 100%;
  width: 100%;
  background-color:rgb(94, 202, 108);
  text-align: center;
}

footer {
  overflow-y: hidden;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
}

.footer_social_button {
  margin-top: 15px;
  color: white;
}


#github :hover{
  color: purple;
}



